<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	The world is your oyster.

	<p>
	If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
	</p>

	<button ion-button (click)="launchInfinitePage()">Lots of DOM Elements</button>

	<button ion-button (click)="launchLeakyPage()">Launch Leaky Page</button>

</ion-content>
