<ion-header>

  <ion-navbar>
    <ion-title>Infinite List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-list>
		<ion-item *ngFor="let item of items">
			<h5>{{item}}</h5>
			<img src="http://placehold.it/75" />
		</ion-item>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>
